---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('sep 19 2023')}
	heroImage="/public/selfieBig.jpg"
>
	<p>
	I'm a nature enthusiast with a passion for animals, especially big cats. I care deeply about the environment and love to travel to exotic landscapes to see rare creatures in the wild and write about them.
		<br><br>
	I believe that nature is one of the greatest treasures we have, and it's important to protect it for future generations. I'm also a big believer in the power of travel to broaden our horizons and teach us about different cultures and ways of life.
	<br><br>
	Through my writing, I hope to share my love of nature and animals with others and inspire them to care about the environment. I also want to use my platform to raise awareness about the challenges facing our planet and the creatures that call it home.
	<br><br>
	If you're interested in learning more about nature, animals, and travel, I invite you to follow my journey and read my stories. I'm always happy to connect with other people who share my passions.
	</p>
</Layout>
