---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Eirik Bech. All rights reserved.
	<div class="social-links">
		<a href="https://www.instagram.com/eirikmbz/" target="_blank">
			<span class="sr-only"></span>
			<img src="../../public/images/IGLogo.png" height="32" width="32" />
		</a>
		<a href="https://www.linkedin.com/in/eirik-bech-b239a3264/" target="_blank">
			<span class="sr-only">Follow Eirik on LinkedIn</span>
			<img src="../../public/images/LinkedInLogo.png" height="32" width="32" />
		</a>
		<a href="https://github.com/RealZasin" target="_blank">
			<span class="sr-only">Go to Eirik's GitHub Profile</span>
			<img src="../../public/images/GitHubLogo.png" height="32" width="32" />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 1em 1em;
		background-color: #ffe4b2;
		color: rgb(var(--gray));
		text-align: center;
		width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
